<%- include("../partials/header") %>

<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <p class="lead">YelpCamp</p>
      <ul class="list-group">
        <li class="list-group-item active">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
      </ul>
    </div>

    <div class="col-lg-9">
      <div class="card">
        <img src="<%= campgrounds.image %>" class="card-img-top" alt="<%= campgrounds.name %>">
        <div class="card-body">
          <h5 class="card-title">$9.00/night</h5>
          <h5 class="card-title"><a href="#"><%= campgrounds.name %></a></h5>
          <p class="card-text"><%= campgrounds.description %></p>
        </div>
      </div>

      <div class="card">
        <h5 class="card-header"><a href="/campgrounds/<%= campgrounds._id %>/comments/new" class="btn btn-success">Leave a Review</a></h5>
        <div class="card-body">
          <!-- <h5 class="card-title"></h5> -->
          <% for (const comment of campgrounds.comments) { %>
            <div class="row">
              <div class="col-lg-12">
                <strong><%= comment.author %></strong>
                <span class="pull-right">10 days ago</span>
                <p class="card-text"><%= comment.text %></p>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>